.simple-control {
    -fx-padding:          5;
    -fx-background-color: rgb(12, 12, 12);
    -base-color:          rgb(2, 138, 204);
}

.simple-control .background-circle {
    -fx-fill: -base-color;
}

.simple-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size:   24;
    -fx-fill:        derive(-base-color, 90%);
}